<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="script.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"></script>
    <title>Thepack | video-chat-app</title>
</head>
<body>
    <div class="header">
      <div class="logo">
        <h3>Video Chat</h2>
      </div>
    </div>
    <div class="main">
      <div class="main__left">
        <div class="videos__group">
          <div id="video-grid"></div>
        </div>
        <div class="options">
          <div class="options__left">
            <div class="options__button">
              <i class="fa fa-video-camera" aria-hidden="true"></i>
            </div>
          <div class="options__button">
              <i class="fa fa-microphone" aria-hidden="true"></i>
          </div>
         </div>
         <div class="options__right">
           <div class="options__button background__red">
             <i class="fa fa-phone" aria-hidden="true"></i>
           </div>
         </div>
       </div>
      </div>
      <div class="main__right">
        <div class="main__chat_window">
          <ul class="messages"></ul>
       </div>
       <div class="main__message_container">
         <input id="chat_message" type="text" placeholder="Type message here...">
         <div class="options__button">
           <i class="fa fa-plus" aria-hidden="true"></i>
         </div>
       </div>
      </div>
    </div>
  </body>
</html>